<a href="https://colab.research.google.com/github/dlohmus/rattaringlus/blob/main/Tartu_rattaringlus.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tartu rattaringluse rataste kasutatavuse analüüs

##Rühmatöö aines andmeteaduse võimalused äriettevõttes

###Raivo Kasepuu
###Diana Lõhmus
###Irina Rips
###Lauri Ütsik

## Sissejuhatus

Tartu Rattaringlus on avalik iseteenindusega rataste kasutamise süsteem lühikesteks sõitudeks Tartu linnas. Meie analüüsi põhiliseks eesmärgiks on saada ülevaade rataste kasutusest, et optimeerida laenutuspunktide asukohti.
Kõrvaleesmärkidena aitab meie analüüs planeerida jalgrataste korralisi hooldusi. Selleks leiame iga jalgratta keskmise kilometraaži ühes kalendrikuus. Jalgrataste hooldusintervall on 500 km. Teise kõrvaleesmärgina selgitame analüüsiga välja 5 kõige problemaatilisemat jalgrataste laenutuskohta, et hooldusmeeskonnal oleks võimalik vahetada nendes laenutuspunktides kontrollerid.

## Andmeallikad

Analüüsis kasutatakse Tartu Rattaringluse avaandmeid aadressilt https://avaandmed.eesti.ee/datasets/tartu-linnavalitsuse-andmekogud-rattaringlus. Andmed on täielikud. Kokku on andmeid ligikaudu 170 000 rida, puuduvaid väärtusi ei esine. 

### Andmete kirjeldus koos andmetüübiga

1.   Laenutamise kuupäev  /kuupäev/
2.   Laenutamise kellaaeg /kellaaeg/
3.   Tagastamise kuupäev  /kuupäev/
4.   Tagastamise kellaaeg  /kellaaeg/
5.   Liikmelisus (mille alusel laenutati) /tekst/
6.   Sõidu kilometraaz (km) /ujukomaarv/
7.   Laenutuse kestvus (min) /ujukomaarv/
8.   Ratta ID /täisarv/
9.   Jalgratta tüüp (tavaratas või elektriratas) /tekst/
10.  Laenutuse hind /ujukomaarv/
11.  Laenutuspunkt  /tekst/
12.  Tagastuspunkt  /tekst/

In [3]:
import pandas as pd
import numpy as np

In [4]:
url= 'https://github.com/dlohmus/rattaringlus/raw/4b52b9127de2f72003a78dc961b6c07eb86de2a4/Smart_Bike_Tartu_july_2019.xlsx'

In [5]:
rattaringlus_df = pd.read_excel(url, sheet_name ='Tartu Smart Bike July 2019')

In [6]:
print(rattaringlus_df.columns.ravel())
display(rattaringlus_df.head(3))
rattaringlus_df.info()

['Unlock Date' 'Unlock Time' 'Lock Date' 'Lock Time' 'Membership' 'Length'
 'Duration (Minutes)' 'Bike No' 'Bike Type' 'Cost' 'Start Station'
 'End Station']

           Unlock Date Unlock Time  ... Start Station  End Station
0  2019-07-01 00:00:00    08:05:03  ...   Raudteejaam  Raudteejaam
1  2019-07-01 00:00:00    08:12:05  ...   Raudteejaam  Raudteejaam
2  2019-07-01 00:00:00    09:33:21  ...       Töökoda      Töökoda

[3 rows x 12 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 170023 entries, 0 to 170022
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unlock Date         170010 non-null  object
 1   Unlock Time         170010 non-null  object
 2   Lock Date           170010 non-null  object
 3   Lock Time           170010 non-null  object
 4   Membership          170003 non-null  object
 5   Length              170003 non-null  object
 6   Duration (Minutes)  169996 non-null  float64
 7   Bike No             169996 non-null  float64
 8   Bike Type           169996 non-null  object
 9   Cost                169996 non-null  float64
 10  Start Station       169996 non-null  object
 11  End Station         169996 non-null  object
dtypes: float64(3), object(9)
memory usage: 15.6+ MB

###Andmete ettevalmistamine

In [7]:
#Tühjade ridade eemaldamine
puudu = pd.isnull(rattaringlus_df["Unlock Date"])
olemas = pd.notnull(rattaringlus_df["Unlock Date"])

rattaringlus_df = rattaringlus_df.loc[olemas]

In [8]:
#Vigaste andmete eemaldamine ja andmetüüpide teisendamine
#Vaatame laenutamise kuupäeva veeru väärtuseid
erindid = rattaringlus_df['Unlock Date'].unique()
print(erindid)

#Otsime andmetes hulgast read, kus laenutamise kuupäev ei ole kuupäeva kujul või ei jää vahemikku 01.07.2019 - 31.07.2019 ja eemaldame need
display(rattaringlus_df.loc[rattaringlus_df['Unlock Date']== 'Mobile App'])
rattaringlus_df.drop(rattaringlus_df[rattaringlus_df['Unlock Date']== 'Mobile App'].index, inplace = True)

#Teisendame laenutamise kuupäeva õigesse formaati
rattaringlus_df['Unlock Date'] = rattaringlus_df['Unlock Date'].astype('datetime64[ns]')

display(rattaringlus_df.loc[rattaringlus_df['Unlock Date'] < '2019-07-01'])
rattaringlus_df.drop(rattaringlus_df[rattaringlus_df['Unlock Date'] < '2019-07-01'].index, inplace = True)

[datetime.datetime(2019, 7, 1, 0, 0) datetime.datetime(2019, 7, 2, 0, 0)
 datetime.datetime(2019, 7, 3, 0, 0) datetime.datetime(2019, 7, 4, 0, 0)
 datetime.datetime(1941, 1, 1, 0, 0) datetime.datetime(2019, 7, 5, 0, 0)
 datetime.datetime(2019, 7, 6, 0, 0) datetime.datetime(2019, 7, 7, 0, 0)
 datetime.datetime(2019, 7, 8, 0, 0) 'Mobile App'
 datetime.datetime(2019, 7, 9, 0, 0) datetime.datetime(2019, 7, 10, 0, 0)
 datetime.datetime(2019, 7, 11, 0, 0) datetime.datetime(2019, 7, 12, 0, 0)
 datetime.datetime(2019, 7, 13, 0, 0) datetime.datetime(2019, 7, 14, 0, 0)
 datetime.datetime(2019, 7, 15, 0, 0) datetime.datetime(2019, 7, 16, 0, 0)
 datetime.datetime(2019, 7, 17, 0, 0) datetime.datetime(2019, 7, 18, 0, 0)
 datetime.datetime(2019, 7, 19, 0, 0) datetime.datetime(2019, 7, 20, 0, 0)
 datetime.datetime(2019, 7, 21, 0, 0) datetime.datetime(2019, 7, 22, 0, 0)
 datetime.datetime(2019, 2, 5, 0, 0) datetime.datetime(1976, 6, 1, 0, 0)
 datetime.datetime(2019, 7, 23, 0, 0) datetime.datetime(2019, 7, 24, 0, 0)
 datetime.datetime(2019, 7, 25, 0, 0) datetime.datetime(2019, 7, 26, 0, 0)
 datetime.datetime(2019, 7, 27, 0, 0) datetime.datetime(2019, 7, 28, 0, 0)
 datetime.datetime(2019, 7, 29, 0, 0) datetime.datetime(2019, 7, 30, 0, 0)
 datetime.datetime(1962, 2, 1, 0, 0) datetime.datetime(2019, 7, 31, 0, 0)]

      Unlock Date          Unlock Time  ... Start Station End Station
32409  Mobile App                  0.6  ...           NaN         NaN
32479  Mobile App                 0.88  ...           NaN         NaN
44330  Mobile App  1975-01-01 00:00:00  ...           NaN         NaN

[3 rows x 12 columns]

       Unlock Date         Unlock Time  ... Start Station End Station
18424   1941-01-01  30.588383333333336  ...           NaN         NaN
114970  2019-02-05  36.306016666666665  ...           NaN         NaN
115186  1976-06-01  48.781883333333333  ...           NaN         NaN
163619  1962-02-01  15.475116666666667  ...           NaN         NaN

[4 rows x 12 columns]

In [9]:
#Otsime andmete hulglgast tehnikute rattakasutust sisaldavad read ja eemaldame need
display(rattaringlus_df.loc[rattaringlus_df['Membership']== 'Technician'])
rattaringlus_df.drop(rattaringlus_df[rattaringlus_df['Membership']== 'Technician'].index, inplace = True)

       Unlock Date Unlock Time  ...        Start Station          End Station
0       2019-07-01    08:05:03  ...          Raudteejaam          Raudteejaam
1       2019-07-01    08:12:05  ...          Raudteejaam          Raudteejaam
2       2019-07-01    09:33:21  ...              Töökoda              Töökoda
3       2019-07-01    09:33:25  ...              Töökoda              Töökoda
4       2019-07-01    09:37:00  ...              Töökoda              Töökoda
...            ...         ...  ...                  ...                  ...
169609  2019-07-31    21:47:58  ...            Anne saun            Anne saun
169612  2019-07-31    21:48:16  ...            Anne saun            Anne saun
169615  2019-07-31    21:48:54  ...            Anne saun            Anne saun
169617  2019-07-31    21:49:17  ...  Tähtvere spordipark  Tähtvere spordipark
169625  2019-07-31    21:50:29  ...            Anne saun            Anne saun

[10060 rows x 12 columns]

In [15]:
#Eemaldame andmetabelist laenutuse hinna veeru. Kuna prooviperioodil oli kasutamine tasuta, siis selles veerus on ainult nullid.
rattaringlus_df.drop("Cost", axis=1, inplace=True)

In [13]:
#Muudame andmetabeli veergude andmetüübid õigesse formaati
rattaringlus_df['Lock Date'] = rattaringlus_df['Lock Date'].astype('datetime64[ns]')
rattaringlus_df['Membership'] = rattaringlus_df['Membership'].astype('string')
rattaringlus_df['Length'] = rattaringlus_df['Length'].astype('float64')
rattaringlus_df['Bike No'] = rattaringlus_df['Bike No'].fillna(0).astype('int')
rattaringlus_df['Bike Type'] = rattaringlus_df['Bike Type'].astype('string')
rattaringlus_df['Start Station'] = rattaringlus_df['Start Station'].astype('string')
rattaringlus_df['End Station'] = rattaringlus_df['End Station'].astype('string')

In [17]:
#Vaatame uuesti andmeid ja andmetabeli veergude formaati
print(rattaringlus_df.columns.ravel())
display(rattaringlus_df.head(3))
rattaringlus_df.info()

['Unlock Date' 'Unlock Time' 'Lock Date' 'Lock Time' 'Membership' 'Length'
 'Duration (Minutes)' 'Bike No' 'Bike Type' 'Start Station' 'End Station']

    Unlock Date Unlock Time  Lock Date  ... Bike Type Start Station     End Station
87   2019-07-01    00:00:09 2019-07-01  ...   Pedelec       Tarmeko  Annelinna kiir
97   2019-07-01    00:00:13 2019-07-01  ...   Pedelec         Orava           Sõbra
160  2019-07-01    00:01:18 2019-07-01  ...   Pedelec         Eeden  Põhja puiestee

[3 rows x 11 columns]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159943 entries, 87 to 170022
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unlock Date         159943 non-null  datetime64[ns]
 1   Unlock Time         159943 non-null  object
 2   Lock Date           159943 non-null  datetime64[ns]
 3   Lock Time           159943 non-null  object
 4   Membership          159936 non-null  string
 5   Length              159936 non-null  float64
 6   Duration (Minutes)  159936 non-null  float64
 7   Bike No             159943 non-null  int64
 8   Bike Type           159936 non-null  string
 9   Start Station       159936 non-null  string
 10  End Station         159936 non-null  string
dtypes: datetime64[ns](2), float64(2), int64(1), object(2), string(4)
memory usage: 14.6+ MB